<!doctype html>
<body>
<div id="site">

  {% if connected %}
    <a href="{% url 'connector:qb_disconnect' %}">Disconnect from Quickbooks</a>
    <br>
    {% if landing_page %}
      <h3>Company {{ company_id }}</h3>
      <h4>Query</h4>
      <form action="{% url 'explorer:query' %}" method="post">
        {% csrf_token %}
        <select name="entity">
          {% for entity in entities %}
            <option value="{{ entity }}">{{ entity }}</option>
          {% endfor %}
        </select>
        <input type="text" name="query" value="" placeholder="Select * From <entity>"/>
        <input type="submit"/>
      </form>

      <h4>Read</h4>
      <form action="{% url 'explorer:read' %}" method="post">
        {% csrf_token %}
        <select name="entity">
          {% for entity in entities %}
            <option value="{{ entity }}">{{ entity }}</option>
          {% endfor %}
        </select>
        <input type="text" name="entity_id" value="" placeholder="ID"/>
        <input type="submit"/>
      </form>

      <h4>Create</h4>
      <form action="{% url 'explorer:create' %}" method="post">
        {% csrf_token %}
        <select name="entity">
          {% for entity in entities %}
            <option value="{{ entity }}">{{ entity }}</option>
          {% endfor %}
        </select>
        <textarea name="create_json_data" rows="10" cols="40" placeholder="JSON goes here"></textarea>
        {# TODO: more detailed placeholder, depending on which select option is currenty chosen (as different entities require different keys/values). #}
        <input type="submit"/>
      </form>

      <h4>Browse</h4>
      <ul>
        {% for entity in entities %}
          <a href="{% url 'explorer:browse' entity %}">
            <li>{{ entity }}</li>
          </a>
        {% endfor %}
      </ul>

    {% endif %}

  {% else %}
    <a href="{% url 'connector:qb_connect' %}">Connect to Quickbooks</a>
  {% endif %}


  {% block data %}
  {% endblock %}

</div>
</body>
